<%= simple_form_for @patient, html: {id: "patient-form"} do |f| %>

      <fieldset>
        <%= f.input :first_name, input_html: { "cf-questions" => "Bonjour! Il me semble que l'on ne se soit jamais rencontré!<br>Quel est votre prénom ?"}%>
      </fieldset>

      <fieldset>
        <%= f.input :email , input_html: { "cf-questions" => "A la fin de ce questionnaire je vous enverrai votre diagnostique par email.<br> Quelle est votre adresse Email ?"}%>
      </fieldset>

      <fieldset>
        <%= f.input :zip_code , input_html: { "cf-questions" => "Il est possible que j'ai besoin de vous diriger vers un dermatologue HairDiag proche de chez vous. <br>Quel est votre code postal ?"}%>
      </fieldset>

      <fieldset>
        <%= f.input :age, collection: (15..77), input_html: { "cf-questions" => "Ok, maintenant que ces formalitées d'usage sont passées, dites moi en plus sur vous. <br>Quel age avez vous ?"}%>
      </fieldset>

      <fieldset>
        <%= f.input :loss_start_date,as: :select, collection: (1970..2017), input_html: { "cf-questions" => "{previous-answer} ans! Quel bel age! <br>A quelle année remonte votre premiere chute de cheveux ?"}%>
      </fieldset>

      <fieldset>
        <%= f.input :relative, collection: ["aucun", "Père", "Mère", "Grand Père", "Grand Mère"], input_html: { "cf-questions" => " Quel membre de votre famille semble avoir le même problème ?"}%>
      </fieldset>

      <fieldset cf-questions="Ne voyez rien de personnel, je pose cette question à toutes les personnes que je rencontre:<br>Diriez vous que vous avez vous les cheveux gras ?" >
        <label for="greasy_hair-yes">Oui<input type="radio" name="patient[greasy_hair]" id="greasy_hair-yes" value="yes" tabindex="-1"
          <%= @patient.greasy_hair? ? 'checked="checked"' : "" %>>
        </label>

        <label for="greasy_hair-no">Non
          <input type="radio" name="patient[greasy_hair]" id="greasy_hair-no" value="no" tabindex="-1"
          <%= @patient.greasy_hair == false ? 'checked="checked"' : "" %>
          >
        </label>
      </fieldset>

      <fieldset>
        <%= f.input :refined_hair, collection: ["oui","non"], input_html: { "cf-questions" => "Ce n'est pas grave, rassurez vous. LOL <br> Et avez vous l’impression que vos cheveux se sont affinés ?","cf-conditional-patient[greasy_hair]" => "yes"}%>
      </fieldset>


      <fieldset>
        <%= f.input :refined_hair, collection: ["oui","non"], input_html: { "cf-questions" => "Tant mieux car c'est un peu degeu ...<br> Avez vous l’impression que vos cheveux se sont affinés ?","cf-conditional-patient[greasy_hair]" => "no"}%>
      </fieldset>


      <fieldset cf-questions="Etes-vous sous Minoxidil ?" >
        <label for="minoxidil-yes">Oui<input type="radio" name="patient[minoxidil]" id="minoxidil-yes" value="yes" tabindex="-1"
          <%= @patient.minoxidil? ? 'checked="checked"' : "" %>>
        </label>

        <label for="minoxidil-no">Nope
          <input type="radio" name="patient[minoxidil]" id="minoxidil-no" value="no" tabindex="-1"
          <%= @patient.minoxidil == false ? 'checked="checked"' : "" %>
          >
        </label>
      </fieldset>

      <fieldset>
        <%= f.input :minoxidil_doses, collection: [["2%",2],["5%",5]], input_html: { "cf-questions" => "A quel dosage ?", "cf-conditional-patient[minoxidil]" => "yes"}%>
      </fieldset>


      <fieldset cf-questions="Avez-vous déjà eu des greffes capillaires ?" >
        <label for="hair_transplant-yes">Oui<input type="radio" name="patient[hair_transplant]" id="hair_transplant-yes" value="yes" tabindex="-1"
          <%= @patient.hair_transplant? ? 'checked="checked"' : "" %>>
        </label>

        <label for="hair_transplant-no">Nope
          <input type="radio" name="patient[hair_transplant]" id="hair_transplant-no" value="no" tabindex="-1"
          <%= @patient.hair_transplant == false ? 'checked="checked"' : "" %>
          >
        </label>
      </fieldset>


      <fieldset cf-questions="A quel stade pensez vous être ?" >
        <input cf-label="stade1" type="radio" cf-image="http://res.cloudinary.com/dgbt9zicg/image/upload/Stade1_yzlrg4" name="patient[stage]" tabindex="1" value="0" >
        <input cf-label="stade2" type="radio" cf-image="http://res.cloudinary.com/dgbt9zicg/image/upload/v1504186425/Stade2_jiqcsr.png" name="patient[stage]" tabindex="1" value="1" >
        <input cf-label="stade3" type="radio" cf-image="http://res.cloudinary.com/dgbt9zicg/image/upload/v1504186425/Stade3_sgu99f.png" name="patient[stage]" tabindex="1" value="2" >
      </fieldset>

      <fieldset>
        <%= f.input :remark, input_html: { "cf-questions" => "Merci, j'ai toutes les informations necessaires au daignostique HairDiag, avez vous des remarques complémentaires ?"}%>
      </fieldset>

      <fieldset>
      <%= f.input :photos, as: :attachinary, input_html: { "cf-questions" => "Merci d'ajouter vos photos prises devant derrière et au dessus du crâne."}%>
      </fieldset>

      <%= link_to patients_path(@patient.id) , class: "header-item" %>

      <% end %>
