<div class="header-sticky" >

  <%= link_to root_path, id: "logo" do %>
  <%= image_tag "logo_white.png" %>
  <% end %>
  <div class="header-navigation-right">
    <div class="header-links-content">
      <%= link_to "Nos dermatologues", "#", class: "header-item-content hoover" %>
      <%= link_to "FAQ", "#", class: "header-item-content hoover" %>
    </div>
    <%= link_to new_patient_path, class:"cta-start" do %>
    <div>  <button class="btn btn-cta">
      Commencer le diagnostic
    </button></div>
    <% end %>
  </div>
</div>

<div class="header-top">
  <%= link_to root_path, id: "logo" do %>
  <%= image_tag "logo_white.png" %>
  <% end %>
  <div class="header-navigation-right">
    <div class="header-links-content">
      <%= link_to "Nos dermatologues", "#", class: "header-item-content hoover" %>
      <%= link_to "FAQ", "#", class: "header-item-content hoover" %>
    </div>
    <%= link_to "Espace pro", doctor_dashboard_path, class: "header-item-right hoover" %>
  </div>
</div>


<script>
  $( ".header-sticky" ).hide();
  window.addEventListener("scroll", function() {
    if (window.scrollY > 575) {
      $('.header-sticky').fadeIn(50);

    }
    else {
      $('.header-sticky').fadeOut(50);

    }
  },false);

</script>

<!--
<script>
  $(window).on("scroll", function(e) {
  if ($(window).scrollTop() >= $(".header-sticky").height()) $(".header-sticky").fadeIn(500);
  else $(".header").fadeOut(500);
});

</script> -->


<!-- https://jsfiddle.net/SpYk3/D3DDp/-->
<!-- <script type="text/javascript">



</script> -->
