<div class="container-home">

  <div class="home-background" style="background: #62E1A6; background-image: linear-gradient(-180deg, rgba(42,245,152,0.00) 0%, rgba(0,0,0,0.50) 100%), url('<%= image_url "background.png" %>');">
    <%= render "shared/navbar"%>
    <div class="general-wrapper">
      <div class="home-content-wrapper">
        <div class="home-content">
          <%= image_tag "logo-no-baseline.png" %>
          <h1>Trouvez une solution à votre chute de cheveux. </h1>
          <h2>Hairdiag est le premier service de diagnostic capillaire en ligne </h2>
          <%= link_to new_patient_path, class:"cta-start" do %>
          <div>
            <button class="btn btn-cta">
              <p>Commencer le diagnostic</p>
              <%= image_tag "icon-microscope.png", class: "icon-microscope" %>
            </button>
          </div>
          <% end %>
        </div>
      </div>
      <div class="footer-lp">
        <div>
          Comment ça marche ?
        </div>
      </div>
      <div class="container process">
        <div class="row">
         <!--  <div class="process-icons "> -->
         <div class="process-icon col-md-3">
          <h3>Répondez à un questionnaire</h3>
            <%= image_tag "icon_diag.png", class: "icon-green" %>
          </div>

          <div class="process-icon-chevron hidden-xs col-md-1">
            <%= image_tag "chevron-right.png" %>
          </div>

          <div class="process-icon col-md-3">
            <h3>Prenez 3 photos de votre cuir chevelu</h3>
              <%= image_tag "icon_photo.png", class: "icon-green" %>
            </div>

            <div class="process-icon-chevron hidden-xs col-md-1">
              <%= image_tag "chevron-right.png" %>
            </div>

            <div class="process-icon col-md-3">
              <h3>Recevez l'avis d’un dermatologue spécialiste du cuir chevelu en 48h</h3>
                <%= image_tag "icon-answer.png", class: "icon-green" %>
              </div>

            </div>
          </div>

          <div class="reminder-cta" style="background: #62E1A6; background-image: url('<%= image_url "background.png" %>');">
            <h2>Une solution anonyme, simple, et rapide pour seulement 29€. </h2>
            <%= link_to root_path, class:"cta-start" do %>
            <div>
              <button class="btn btn-cta">
                <p>Commencer le diagnostic</p>
                <%= image_tag "icon-microscope.png", class: "icon-microscope" %>
              </button>
            </div>
            <% end %>
          </div>
        </div>

        <div class="container benefits">
          <h1>Les bénéfices Hair'diag</h1>
          <div class="row">
           <!--  <div class="process-icons "> -->
           <div class="process-icon col-md-4">
            <h2>Des experts à portée de main</h2>
            <p>Les médecins sont diplomés d'études spécialisées en dermatologie, et inscrits au CNOM (Conseil National de l'Ordre des Médecins)
            </p>
            <%= image_tag "icon-time.png", class: "icon-green" %>
          </div>

          <div class="process-icon col-md-4">
            <h2>Un gain de temps considérable</h2>
            <p> Pas de prise de RDV, pas de déplacement, pas de salle d'attente. Avec Hair’diag, recevez un diagnostic en moins de 48h. Contre 29 jours en moyenne. </p>
              <%= image_tag "icon-save-money.png", class: "icon-green" %>
            </div>


            <div class="process-icon col-md-4">
              <h2>100% anonyme</h2>
              <p>Nous garantissons l'anonymat absolu et la protection de vos données </p>
              <%= image_tag "icon-easy.png", class: "icon-green" %>
            </div>

          </div>
        </div>

        <div class="home-banner" style="background-image: url('<%= image_url "image-banner.png" %>');" >
          <h1>
            Pensé pour vous simplifier la vie
          </h1>

        </div>

        <div class="container team">
          <div class="row">
            <div class="team-member col-md-4">
              <%= image_tag "photo_team.png" %>
              <h2>Dr. Elisabeth Jourdan</h2>
              <h3>Dermatologue</h3>
            </div>
            <div class="team-member col-md-4">
              <%= image_tag "photo_team.png" %>
              <h2>Dr. Camille Hartel</h2>
              <h3>Dermatologue</h3>
            </div>
            <div class="team-member col-md-4">
              <%= image_tag "photo_team.png" %>
              <h2>Dr. Jean Christophe Maurin</h2>
              <h3>Dermatologue</h3>
            </div>

          </div>

        </div>

        <div class="footer" style="background: #62E1A6; background-image: url('<%= image_url "background.png" %>');">
          <p>Footer made with love at le Wagon Marseille City Beach</p>
        </div>


      </div>
    </div>
  </div>
