<div class="container-home">

<div class="home-background" style="background: #62E1A6; background-image: linear-gradient(-180deg, rgba(42,245,152,0.00) 0%, rgba(0,0,0,0.50) 100%), url('<%= image_url "background.png" %>');">
<%= render "shared/navbar"%>
  <div class="home-content">
    <%= image_tag "logo-no-baseline.png" %>
    <h1>Trouvez une solution à votre chute de cheveux. </h1>
    <h2>Hairdiag est le premier service de diagnostic capillaire en ligne pour vous aider. </h2>
    <%= link_to root_path, class:"cta-start" do %>
    <div>  <button class="btn btn-cta">
        <p>Commencer le diagnostic</p>
         <%= image_tag "icon-microscope.png", class: "icon-microscope" %>
      </button></div>


    <% end %>
  </div>

  <div class="footer-lp">
    <div>
      Comment ça marche ?
    </div>
  </div>
</div>

<div class="banner-center">
  <div class="process-icons">
    <div class="process-icon">
      <h2>Diagnostic.</h2>
      <p>Un diagnostic intelligent concu par des
        experts du cuir capillaire </p>
      <%= image_tag "icon_diag.png", class: "icon-green" %>
    </div>
    <div class="process-icon">
      <h2>Diagnostic.</h2>
      <p>Un diagnostic intelligent concu par des
        experts du cuir capillaire </p>
      <%= image_tag "icon_photo.png", class: "icon-green" %>
    </div>
    <div class="process-icon">
      <h2>Diagnostic.</h2>
      <p>Un diagnostic intelligent concu par des
        experts du cuir capillaire </p>
      <%= image_tag "icon-answer.png", class: "icon-green" %>
    </div>
  </div>
</div>

<div class="banner-center">
  <div class="process-icons">
    <div class="process-icon">
      <h2>Diagnostic.</h2>
      <p>Un diagnostic intelligent concu par des
        experts du cuir capillaire </p>
      <%= image_tag "icon_diag.png", class: "icon-green" %>
    </div>
    <div class="process-icon">
      <h2>Diagnostic.</h2>
      <p>Un diagnostic intelligent concu par des
        experts du cuir capillaire </p>
      <%= image_tag "icon_photo.png", class: "icon-green" %>
    </div>
    <div class="process-icon">
      <h2>Diagnostic.</h2>
      <p>Un diagnostic intelligent concu par des
        experts du cuir capillaire </p>
      <%= image_tag "icon-answer.png", class: "icon-green" %>
    </div>
  </div>
</div>



</div>
