<div class="container-home">

  <div class="home-background" style="background: #62E1A6; background-image: linear-gradient(-180deg, rgba(42,245,152,0.00) 0%, rgba(0,0,0,0.50) 100%), url('<%= image_url "background.png" %>');">
    <%= render "shared/navbar"%>
    <div class="general-wrapper">
      <div class="home-content-wrapper">
        <div class="home-content">
          <%= image_tag "logo-no-baseline.png" %>
          <h1>Trouvez une solution à votre chute de cheveux. </h1>
          <h2>Hairdiag est le premier service de diagnostic capillaire en ligne pour vous aider. </h2>
          <%= link_to new_patient_path, class:"cta-start" do %>
          <div>
            <button class="btn btn-cta">
              <p>Commencer le diagnostic</p>
              <%= image_tag "icon-microscope.png", class: "icon-microscope" %>
            </button>
          </div>
          <% end %>
        </div>
      </div>
      <div class="footer-lp">
        <div>
          Comment ça marche ?
        </div>
      </div>
      <div class="container process">
        <div class="row">
         <!--  <div class="process-icons "> -->
         <div class="process-icon col-md-3">
          <h3>Questionnaire</h3>
          <p>Répondez à questionnaire précis concernant votre cuir chevelu </p>
            <%= image_tag "icon_diag.png", class: "icon-green" %>
          </div>

          <div class="process-icon-chevron hidden-xs col-md-1">
            <%= image_tag "chevron-right.png" %>
          </div>

          <div class="process-icon col-md-3">
            <h3>Photos</h3>
            <p>Envoyez 3 photos de votre cuir chevelu, de profil et sur les côtés.</p>
              <%= image_tag "icon_photo.png", class: "icon-green" %>
            </div>

            <div class="process-icon-chevron hidden-xs col-md-1">
              <%= image_tag "chevron-right.png" %>
            </div>

            <div class="process-icon col-md-3">
              <h3>Avis médical personnalisé</h3>
              <p>Recevez l'avis d’un dermatologue certifié et spécialiste du cuir chevelu en 48h</p>
                <%= image_tag "icon-answer.png", class: "icon-green" %>
              </div>

            </div>
          </div>

          <div class="reminder-cta" style="background: #62E1A6; background-image: url('<%= image_url "background.png" %>');">
            <h2>Une solution simple, rapide et efficace. Ne perdez pas plus de temps.</h2>
            <%= link_to root_path, class:"cta-start" do %>
            <div>
              <button class="btn btn-cta">
                <p>Commencer le diagnostic</p>
                <%= image_tag "icon-microscope.png", class: "icon-microscope" %>
              </button>
            </div>
            <% end %>
          </div>
        </div>

        <div class="container benefits">
          <h1>Les bénéfices Hair'diag</h1>
          <div class="row">
           <!--  <div class="process-icons "> -->
           <div class="process-icon col-md-4">
            <h2>Des experts à portée de main</h2>
            <p>Les médecins sont diplomés d'études spécialisées en dermatologie, et inscrits au CNOM (Conseil National de l'Ordre des Médecins)
            </p>
            <%= image_tag "icon-time.png", class: "icon-green" %>
          </div>

          <div class="process-icon col-md-4">
            <h2>Gain de temps</h2>
            <p> Pas de prise de RDV, pas de déplacement, pas de salle d'attente. Avec Hair’diag, recevez un diagnostic en moins de 48h. Contre 29 jours en moyenne. </p>
              <%= image_tag "icon-save-money.png", class: "icon-green" %>
            </div>


            <div class="process-icon col-md-4">
              <h2>Economie</h2>
              <p>Une consultation chez un dermatologue coûte en moyenne 80€. Le service HairDiag coûte 30€</p>
              <%= image_tag "icon-easy.png", class: "icon-green" %>
            </div>

          </div>
        </div>

        <div class="home-banner" style="background-image: url('<%= image_url "image-banner.png" %>');" >
          <h1>
            Accédez à un avis médical où que vous soyez dans le monde
          </h1>

        </div>

        <div class="container team">
          <div class="row">
            <div class="team-member col-md-4">
              <%= image_tag "photo_team.png" %>
              <h2>Dr. Miche Miche de Chauverie</h2>
              <h3>Spécialiste international de la chauverie et des crânes luisants</h3>
            </div>
            <div class="team-member col-md-4">
              <%= image_tag "photo_team.png" %>
              <h2>Dr. Miche Miche de Chauverie</h2>
              <h3>Spécialiste international de la chauverie et des crânes luisants</h3>
            </div>
            <div class="team-member col-md-4">
              <%= image_tag "photo_team.png" %>
              <h2>Dr. Miche Miche de Chauverie</h2>
              <h3>Spécialiste international de la chauverie et des crânes luisants</h3>
            </div>

          </div>

        </div>

        <div class="footer" style="background: #62E1A6; background-image: url('<%= image_url "background.png" %>');">
          <p>Footer made with love at le Wagon Marseille City Beach</p>
        </div>


      </div>
    </div>
  </div>
