<div class="container" id="form-width">
  <div class="row">
    <div class="col-xs-6 page-part">
      <div class="side-background" style="background: #62E1A6; background-image: linear-gradient(-180deg, rgba(42,245,152,0.00) 0%, rgba(0,0,0,0.50) 100%), url('<%= image_url "background.png" %>');">
        <div>
          <%= link_to root_path, id: "logo" do %>
          <%= image_tag "logo_white.png" %>
          <% end %>
        </div>
        <div class="centerh">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
            <!-- class active changé en actived - attention vigilence -->
              <div class="message actived">
                <div class="numbers">
                  <h3>1</h3>
                </div>
                <div class="message-body">
                  <p>Répondez aux questions de notre doc-bot Hair'Diag.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <div class="message">
                <div class="numbers">
                  <h3>2</h3>
                </div>
                <div class="message-body">
                  <p> Relisez vos réponses et confirmez </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <div class="message">
                <div class="numbers">
                  <h3>3</h3>
                </div>
                <div class="message-body">
                  <p>Effectuez le règlement. Un dermatologue spécialiste vous fournira un avis médical sous 48h.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="center_bottom_page">
          <div class="cta-start btn btn-medium">
            <%= link_to "Retour à l'accueil", root_path, class: "header-item" %>
          </div>
        </div>

      </div>
    </div>
    <div class="col-xs-6 page-part" id="col-form">

    <%= render "shared/form" %>

    </div>
  </div>
</div>

