<!-- Cette show est la show lorsque le patient clique sur le lien lui permettant d'accéder à son cas-->


  <div class="container-view">
    <div class="col-md-2 ">
      <div class="row view-side-bar" style="background: #62E1A6; background-image: linear-gradient(-180deg, rgba(42,245,152,0.00) 0%, rgba(0,0,0,0.50) 100%);">
        <div>
          <%= link_to root_path, id: "logo" do %>
          <%= image_tag "logo_white.png" %>
          <% end %>
        </div>
        <div class="answer-nav">
          <div class="answer-nav-item">
            <%= link_to doctor_dashboard_path, class: "text-icon" do %>
            <%= image_tag "icon-traiter.png" %>
            <p>Ma recommandation personnalisée</p>
            <% end %>
          </div>
          <div class="answer-nav-item">
            <%= link_to doctor_history_path, class: "text-icon" do %>
            <%= image_tag "icon-historic.png" %>
            <p>Ma fiche patient</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-10">
      <div class="row answer-container">
        <div>
          <div>
            <div class="header-answer">
              <h2>Patient : <%= @patient.first_name.to_s + " " + @patient.last_name.to_s %> </h2>
              <p>Cas envoyé le <%=@patient.created_at.strftime("%d-%m-%Y à %Hh%M") %>. </p>
              <p>Cas étudié le <%= @message.created_at.strftime("%d-%m-%Y à %Hh%M") %> par le <%= @doctor.first_name + " " + @doctor.last_name.to_s %> </p>
              <p>Diagnostic : <%= @message.subject.to_s %> </p>
            </div>
          </div>
          <div class="message-answer">
            <%= image_tag "photo-expert1.png" %>
            <div class="message-answer-container">
              <div class="sender">
              <%= @doctor.first_name %>
              </div>
              <div class="content">
                <!--%= @message.content %-->
                Bonjour Tim, <br><br>
                Il existe un traitement particuliers pour ce type de perte de cheveux qui prends en compte plusieurs traitements complémentaires à prendre sur 15 jours :<br>
                - Preparles, 3 fois par jour<br>
                - Engraicheuv 2 fois par jour<br>
                - Soipabart 1 comprimé par matin<br><br>
                 Cordialement,
                 <br><br>Jean Reno
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

