
<div class="dashboard-container">
  <div class="row">
    <%= render "shared/sidebar-dashboard"%>
    <div class="col-md-10">
      <div class="row dashboard-infos">
        <div class="dashboard-main-content">
          <div class="#">
            <h1>Here is all your cases</h1>

            <!-- Ici je met toutes les donnees du patient, par cas, a reduire en fonction de ce que l'on veut dans le cas et le numero correspond au statut du patient-->
            <% @patients.each do |patient| %>
            <% if @patients.nil? %>
            <p>Vous n'avez pas encore traité de patient!</p>
            <% else %>
            <% if patient.doctor_id == current_doctor.id %>
            <div class="case">
              <%= image_tag patient.photos.first.path , class: "avatar-large" %>
              <div class="case-name">
                <%=  %>
                <%= link_to patient.first_name + patient.last_name.to_s, doctor_show_patient_path(patient), class: "h4" %>
              </div>
              <div class="case-body">
                <p><strong> <%= patient.city %></strong></p>
                <p>
                  Pris en charge le <%= patient.created_at  %>
                  <%= patient.stage %>
                </p>
              </div>
              <div class="case-status">
                <p class="status pending"><%= patient.status %></p>
              </div>
            </div>
            <% end %>
            <% end %>
            <% end %>
            <%= link_to "Retourner au Dashboard" , doctor_dashboard_path, class: "h4" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

