
<div class="dashboard-container">
  <div class="row">
    <%= render "shared/sidebar-dashboard"%>
    <div class="col-md-10">
      <div class="row dashboard-infos patients-show">

          <h2>FICHE CLIENT</h2>
          <div class="patients-details">
            <div>
              <h3>Informations pratiques <a data-toggle="collapse" data-target="#info-pratiques">
              <i class="fa fa-minus collapse-icon"aria-hidden="true"></i></a>
              </h3>
              <div class="row collapse in" id="info-pratiques">
                <div class="col-md-4">
                  <%= @patient.first_name + " " + @patient.last_name %>
                </div>
                <div class="col-md-4">
                  <%= @patient.email %>
                </div>
                <div class="col-md-4">
                  <%= @patient.gender %>
                </div>
                <div class="col-md-4">
                  <%= @patient.age %>
                </div>
                <div class="col-md-4">
                  <%= @patient.zip_code %>
                </div>
                <div class="col-md-4">
                  <%= @patient.city %>
                </div>
                <div class="col-md-4">
                  <%= @patient.country %>
                </div>
              </div>
            </div>
            <div>
              <h3> Context médical <a data-toggle="collapse" data-target="#context-medical">
              <i class="fa fa-minus collapse-icon"aria-hidden="true"></i></a>
              </h3>
              <div class="row collapse in" id="context-medical">
                <div class="col-md-4">
                    <%= @patient.loss_start_date %>
                </div>
                <div class="col-md-4">
                    <%= @patient.relative %>
                </div>
                <div class="col-md-4">
                    <%= @patient.weekly_shampoo %>
                </div>
                <div class="col-md-4">
                    <%= @patient.dandruff %>
                </div>
                <div class="col-md-4">
                    <%= @patient.greasy_hair %>
                </div>
                <div class="col-md-4">
                    <%= @patient.refined_hair %>
                </div>
                <div class="col-md-4">
                    <%= @patient.brushing_hair %>
                </div>
                <div class="col-md-4">
                    <%= @patient.shaving_hair %>
                </div>
                <div class="col-md-4">
                    <%= @patient.scalp_density %>
                </div>
                <div class="col-md-4">
                    <%= @patient.hair_thickness %>
                </div>
                <div class="col-md-4">
                    <%= @patient.hair_color %>
                </div>
                <div class="col-md-4">
                    <%= @patient.hair_type %>
                </div>
              </div>
            </div>
            <div>
              <h3> Situation capillaire <a data-toggle="collapse" data-target="#situation-capillaire">
              <i class="fa fa-minus collapse-icon"aria-hidden="true"></i></a>
              </h3>
              <div class="row collapse in" id="situation-capillaire">
                <div class="col-md-4">
                    <%= @patient.vitamines %>
                </div>
                <div class="col-md-4">
                  <%= @patient.finasteride %>
                </div>
                <div class="col-md-4">
                  <%= @patient.stage %>
                </div>
                <div class="col-md-4">
                  <%= @patient.traction_test %>
                </div>
                <div class="col-md-4">
                  <%= @patient.stage %>
                </div>
                <div class="col-md-4">
                  <%= @patient.restore_area %>
                </div>
                <div class="col-md-4">
                  <%= @patient.technical_preference %>
                </div>
                <div class="col-md-4">
                  <%= @patient.minoxidil %>
                </div>
                <div class="col-md-4">
                  <%= @patient.minoxidil_doses %>
                </div>
                <div class="col-md-4">
                  <%= @patient.hair_transplant %>
                </div>
                <div class="col-md-4">
                  <%= @patient.hair_transplant_technic %>>
                </div>
              </div>
            </div>
            <div class="patient-photos">
              <h3> Photos <a data-toggle="collapse" data-target="#patient-pictures">
                    <i class="fa fa-minus collapse-icon"aria-hidden="true"></i></a>
              </h3>
              <div class="row collapse in" id="patient-pictures">
                <% if @patient.photos? %>
                  <% @patient.photos.each do |photo| %>
                  <div class="col-md-4">
                  <%= cl_image_tag photo.path, height: 200, width: 200, crop: :fill %>
                  </div>
                  <% end %>
                <% else %>
                  <p>Le patient n'a pas chargé d'image</p>
                <% end %>
              </div>
            </div>
          </div>

        <h2> RECOMMANDATIONS </h2>
        <div class="doctor-recommandations">

          <div class="messages-templates">
            <button id="message-button1" class="messages-templates-buttons switch-message-content" data-message-index="0" data-diagnostic-type="Prescription">Prescription 1</button>

            <button id="message-button2" class="messages-templates-buttons switch-message-content" data-message-index="1" data-diagnostic-type="Prescription">Prescription 2</button>

            <button id="message-button3" class="messages-templates-buttons switch-message-content" data-message-index="2" data-diagnostic-type="Prescription">Prescription 3</button>
          </div>


          <div class="dignastic-choices">
            <button class="dignastic-choices-buttons switch-message-template"
            data-diagnostic-type="Prescription"><i>1</i><p>Prescription</p></button>

            <button class="dignastic-choices-buttons switch-message-template"
            data-diagnostic-type="rdv" data-message-index="1"><i>2</i><p>Proposition de rendez-vous</p></button>

            <button class="dignastic-choices-buttons switch-message-template"
            data-diagnostic-type="Recommandations" data-message-index="2"><i>3</i><p>Recommandations</p></button>
          </div>


          <div class="recommandation-text-area">
            <%= simple_form_for(@recommendation, url: doctor_create_answer_path(@patient)) do |f| %>
            <%= f.error_notification %>
              <div class="form-inputs">
              <%= f.input :subject, required: false %>
              <%= f.input :content, required: false, as: :text %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, "Envoyer le message", class:"btn-cta" %>
              </div>
            <% end %>
          </div>

        </div>


      </div>

      <div class="hexagon"></div>


      <script>
          $('.collapse-icon').click(function() {
            $(this).toggleClass('fa-minus').toggleClass('fa-plus');
          })

          var messageTypes = {
            "Prescription": [
              {
                button: "Prescription 1",
                subject: "Subject prescr message 1",
                content: "Bonjour <%= @patient.first_name %>,\n \nVous allez mourir,\n\nCordialement, \n\nMichel Michel",
              },
              {
                button: "Prescription 2",
                subject: "Subject prescr message 2",
                content: "Content prescr message 2",
              },
              {
                button: "Prescription 3",
                subject: "Subject prescr message 3",
                content: "Content prescr message 3",
              }
            ],

            "rdv": [
              {
                button: "RDV 1",
                subject: "Subject rdv message 1",
                content: "Content rdv message 1",
              },
              {
                button: "RDV 2",
                subject: "Subject rdv message 2",
                content: "Content rdv message 2",
              },
              {
                button: "RDV 3",
                subject: "Subject rdv message 3",
                content: "Content rdv message 3",
              }
            ],

            "Recommandations": [
              {
                button: "Reco 1",
                subject: "Subject reco message 1",
                content: "Content reco message 1",
              },
              {
                button: "Reco 2",
                subject: "Subject reco message 2",
                content: "Content reco message 2",
              },
              {
                button: "Reco 3",
                subject: "Subject reco message 3",
                content: "Content reco message 3",
              }
            ]
          }

          $('.switch-message-template').click(function() {

            var button = $(this);
            var diagnostic = button.data("diagnostic-type");

            var button1 = messageTypes[diagnostic][0].button;
            var button2 = messageTypes[diagnostic][1].button;
            var button3 = messageTypes[diagnostic][2].button;
            var subject = messageTypes[diagnostic][0].subject;
            var content = messageTypes[diagnostic][0].content;

            $('#message-button1').text(button1);
            $('#message-button2').text(button2);
            $('#message-button3').text(button3);
            $("#message_subject").val(subject);
            $("#message_content").val(content);

            $('.messages-templates-buttons').data("diagnostic-type", diagnostic);
            $('.switch-message-template').removeClass('active');
            $(this).addClass('active');
            $('#message-button1').addClass('active');
          });

          $('.switch-message-content').click(function() {
            var button = $(this);
            var diagnostic = button.data('diagnostic-type');
            var message_index = button.data('message-index')

            var subject = messageTypes[diagnostic][parseInt(message_index)].subject;
            $("#message_subject").val(subject);

            var content = messageTypes[diagnostic][parseInt(message_index)].content;
            $("#message_content").val(content);

            $('.switch-message-content').removeClass('active');
            $(this).addClass('active');

          });

      </script>







