
<div class="dashboard-container">
  <div class="row">
    <%= render "shared/sidebar-dashboard"%>
    <div class="col-md-10">
      <div class="row dashboard-infos patients-show">

          <h2>FICHE CLIENT</h2>
          <div class="patients-details">
            <div>
              <h3>Informations pratiques <a data-toggle="collapse" data-target="#info-pratiques">
              <i class="fa fa-minus collapse-icon"aria-hidden="true"></i></a>
              </h3>
              <div class="row collapse in" id="info-pratiques">
                <div class="col-md-4">
                  <%= @patient.first_name + " " + @patient.last_name %>
                </div>
                <div class="col-md-4">
                  <%= @patient.email %>
                </div>
                <div class="col-md-4">
                  <%= @patient.gender %>
                </div>
                <div class="col-md-4">
                  <%= @patient.age %>
                </div>
                <div class="col-md-4">
                  <%= @patient.zip_code %>
                </div>
                <div class="col-md-4">
                  <%= @patient.city %>
                </div>
                <div class="col-md-4">
                  <%= @patient.country %>
                </div>
              </div>
            </div>
            <div>
              <h3> Context médical <a data-toggle="collapse" data-target="#context-medical">
              <i class="fa fa-minus collapse-icon"aria-hidden="true"></i></a>
              </h3>
              <div class="row collapse in" id="context-medical">
                <div class="col-md-4">
                    <%= @patient.loss_start_date %>
                </div>
                <div class="col-md-4">
                    <%= @patient.relative %>
                </div>
                <div class="col-md-4">
                    <%= @patient.weekly_shampoo %>
                </div>
                <div class="col-md-4">
                    <%= @patient.dandruff %>
                </div>
                <div class="col-md-4">
                    <%= @patient.greasy_hair %>
                </div>
                <div class="col-md-4">
                    <%= @patient.refined_hair %>
                </div>
                <div class="col-md-4">
                    <%= @patient.brushing_hair %>
                </div>
                <div class="col-md-4">
                    <%= @patient.shaving_hair %>
                </div>
                <div class="col-md-4">
                    <%= @patient.scalp_density %>
                </div>
                <div class="col-md-4">
                    <%= @patient.hair_thickness %>
                </div>
                <div class="col-md-4">
                    <%= @patient.hair_color %>
                </div>
                <div class="col-md-4">
                    <%= @patient.hair_type %>
                </div>
              </div>
            </div>
            <div>
              <h3> Situation capillaire <a data-toggle="collapse" data-target="#situation-capillaire">
              <i class="fa fa-minus collapse-icon"aria-hidden="true"></i></a>
              </h3>
              <div class="row collapse in" id="situation-capillaire">
                <div class="col-md-4">
                    <%= @patient.vitamines %>
                </div>
                <div class="col-md-4">
                  <%= @patient.finasteride %>
                </div>
                <div class="col-md-4">
                  <%= @patient.stage %>
                </div>
                <div class="col-md-4">
                  <%= @patient.traction_test %>
                </div>
                <div class="col-md-4">
                  <%= @patient.stage %>
                </div>
                <div class="col-md-4">
                  <%= @patient.restore_area %>
                </div>
                <div class="col-md-4">
                  <%= @patient.technical_preference %>
                </div>
                <div class="col-md-4">
                  <%= @patient.minoxidil %>
                </div>
                <div class="col-md-4">
                  <%= @patient.minoxidil_doses %>
                </div>
                <div class="col-md-4">
                  <%= @patient.hair_transplant %>
                </div>
                <div class="col-md-4">
                  <%= @patient.hair_transplant_technic %>>
                </div>
              </div>
            </div>
            <div class="patient-photos">
              <h3> Photos <a data-toggle="collapse" data-target="#patient-pictures">
                    <i class="fa fa-minus collapse-icon"aria-hidden="true"></i></a>
              </h3>
              <div class="row collapse in" id="patient-pictures">
                <% if @patient.photos? %>
                  <% @patient.photos.each do |photo| %>
                  <div class="col-md-4">
                  <%= cl_image_tag photo.path, height: 200, width: 200, crop: :fill %>
                  </div>
                  <% end %>
                <% else %>
                  <p>Le patient n'a pas chargé d'image</p>
                <% end %>
              </div>
            </div>
          </div>

        <h2> RECOMMANDATIONS </h2>
        <div class="doctor-recommandations">
          <div class="messages-templates">
            <a href="#" class="messages-templates-buttons active">Message type 1</a>
            <a href="#" class="messages-templates-buttons">Message type 2</a>
            <a href="#" class="messages-templates-buttons">Message type 3</a>
          </div>
          <div class="dignastic-choices">
            <a href="#" class="dignastic-choices-buttons active"><i>1</i><p>Prescription</p></a>
            <a href="#" class="dignastic-choices-buttons"><i>2</i>Proposition de rendez-vous</a>
            <a href="#" class="dignastic-choices-buttons"><i>3</i>Recommandations</a>
          </div>
          <div class="recommandation-text-area">
            <%= simple_form_for(@recommendation, url: doctor_create_answer_path(@patient)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
            <%= f.input :subject, required: false %>
            <%= f.input :content, required: false %>
          </div>

        <div class="form-actions">
          <%= f.button :submit, "Envoyer le message" %>
        </div>
        <% end %>
          </div>

        </div>


      </div>


      <script>
          $('.collapse-icon').click(function() {
            $(this).toggleClass('fa-minus').toggleClass('fa-plus');
          })
      </script>




